*{
  padding: 0px;
  box-sizing: border-box;
 /* text-align: center;
  justify-content: center;*/
}

/*.heading 
{
	color:red;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	text-shadow: 0px 2px 4px #ffe9c5;
	font-family: 'Tangerine', serif;
}
*/
a
{
	text-decoration:none;
}
a.active{
	color: #b51b30;
	border-bottom: 1px solid red;
}
a.active:hover{
	color: #bb3d7d;
	border-bottom: 1px solid red;
}
.col-sm .card 
{
	width: 100%;
}
.main-heading p
{
	cursor: pointer;
}
.main-heading
{
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
.main-div
{
/*	//width: 30vh;
*/    padding: 50px;
    background-color: rgb(255,255,255);
/*	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
*/	border-radius: 10px;
	box-shadow: rgba(17,17,26,0.05) 0px 1px 0px,rgba(17,17,26,0.1) 0px 0px 8px;
}
.centerdiv
{
	width: 25%;
	height:80vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center_div
{
	width: 25%;
	height:80vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;	
}
.center_div h1
{
	color: white;
	background: transparent;
	background-color: #8566aa;
	padding: 6px 0 2px 0;
	margin-bottom: 10px;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.center_div input
{
	text-align: center;
	height: 30px;
	top: 10px;
	border:none;
	background: transparent;
	font-size: 20px;
	font-weight: 500px;
	width: 60%;
	border-bottom: 2px solid #8566aa;
	outline: none;
}
.center_div button
{
	min-height: 40px;
	width: 40px;
	border-radius: 50%;
	border-color: transparent;
	background-color: #8566aa;
	color: #fff;
	font-size: 40px;
	border:none;
	outline: none;
	margin-left: 10px;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.center_div button:hover
{
	background-color: #20bf6b;
}
.center_div ol
{
	margin-top: 30px;
}
div div span
{
	color :#8566aa;
}
.center_div ol li
{
	padding-left: 0px;
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	align-items: center;
	color: #8566aa;
	text-transform: capitalize;
	
}
.todo_style
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.todo_style .fa-times
{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8566aa;
	border-radius: 50%;
	margin: 0 15px 0 35px;
	color :aliceblue;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);

}
.Main_div
{
	width: 100%;
	height: 100vh;
	background-color: #badc58;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.centerdiv h1
{
	color: white;
	background: transparent;
	font-size: 20px;
	background-color: #30336b;
	padding: 6px 0 2px 0;
	margin-bottom: 10px;
	width: 100%;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3)
}
button:hover
{
	background-color: #22a6b3;
	color: white;
}
.btn_div
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.Current_time
{
	justify-content: center;
    text-align: center;
}
.Basic_hooks{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.Event_hook
{
    width: 100%;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#68b568;
}
.Event_hook button {
    padding: 	15px 20px;
    background-color: #9b59b6;
    color: white;
    border:2px solid #ecf0f1;
    outline: none;
	text-transform: uppercase;
    cursor: pointer;
}
.Basic_hooks button {
    padding: 	15px 20px;
    background-color: #9b59b6;
    color: white;
    border:2px solid #ecf0f1;
    outline: none;
    border-right: 5px;
	text-transform: uppercase;
    cursor: pointer;
}
.slot_inner{
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	text-shadow: 0px 2px 4px #ffe9c5;
}
.heading_style
{
	padding: 20px 0;
	text-align: center;
	font-family:  serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 500px;
	color: #fff;
	background-color: #000;
	margin-bottom: 30px;
}
.heading_style1
{
	padding: 20px 0;
	/*text-align: center;*/
	font-family:  serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 500px;
	color: #fff;
	background-color: #125c65;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
footer 
{
	text-align: center;
}
.Main_div1
{
	width: 100%;
/*	height: 100vh;
*/	margin-top: 2px;
/*	background-color: #badc58;
*/	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.note
{
	padding-left: 10px;
	width: 25%;
	height:30vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;

}
.div_inner
{
	display: flex;
	flex-direction: row;
}
.center_div
{
	width: 25%;
	height:30vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;	
}
.cards
{
   width:100%;
   height: auto;
}
.card
{
	margin:2%;
	transition:  all 0.4s cubic-bezier(0.175, 0.885, 0,1);
	background-color: #fff;
	width: 21.25%;
	border-radius: 12px;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
	float: left;
}
.card:hover
{
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transition: scale(1.05, 1.05);
}
.card_img
{
	width: 100%;
	height :235px;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.card_info
{
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
button 
{
	padding: 5px 8px;
	font-family:  serif;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 500px;
	color: #868686;
	background-color: #fff;
	outline: none;
	border: 1px solid black;
	cursor: pointer;
}
.imd_div
{
	display:flex;
	justify-content: center;
	margin:70px 0px;
}
.card_img
{
	width: 100%;
	height: 200px;
}
.card_info
{
	margin:20px;
}
.imd_div img
{
    width: 250px;
    height:200px;
    
}
h1
{
	color: white;
	background-color: transparent;
	text-shadow: 0 2px 2px black;
}

input{
	width: 50%;
	padding: 10px 20px;
	border:none;
	outline: none;
	margin: 20px 0;
	text-align: center;
}

textarea{
	width: 60%;
	padding: 10px 20px;
	border:none;
	outline: none;
	margin: 20px 0;
	text-align: center;
}